<article class="listing">
  <div class="label">
    <span>Project Name:</span> {{project.projectName}}
  </div>
  <div class="label">
    <span>Project Description:</span> {{project.projectDesc}}
  </div>
  <div class="label">
    <span>Project Owner:</span> {{project.projectOwner}}
  </div>
  <div class="label">
    <span>Project Team:</span> {{project.projectTeam}}
  </div>
  <div class="label">
    <span>Project End Date:</span> {{project.endDate}}
  </div>
</article>